################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/**
/src/**/bin/Debug/*.*
/src/**/obj/Debug/*.*
/src/**/bin/Release/*.*
/src/**/obj/Release/*.*