<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <connectionStrings>
    <add name="sads" connectionString="user id=DR_SAF_DS;password=DR_SAF_DS;data source=DSSAF01" />
    <add name="afrds" connectionString="user id=DR_AFR_DS;password=DR_AFR_DS;data source=DSAFR01" />
    <add name="sadt" connectionString="user id=DR_SAF_DT;password=DR_SAF_DT;data source=DTSAF01" />
    <add name="afrdt" connectionString="user id=DR_AFR_DT;password=DR_AFR_DT;data source=DTAFR01" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" 
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="DSSAF01" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.22.58)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=DSSAF01)));"/>
        <dataSource alias="DSAFR01" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.23.58)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=DSAFR01)));"/>

        <dataSource alias="DTSAF01" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.22.37)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=DTSAF01)));"/>
        <dataSource alias="DTAFR01" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.22.35)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=DTAFR01)));"/>
        
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>